.bulletin-board
    margin-top: 77px

.bulletin-board-grid
    display: grid
    grid-template-columns: repeat(2,1fr)
    grid-template-rows: auto auto
    grid-gap: 20px 20px
    gap: 20px 20px

.card-bulletin-board
    background: #FFFFFF
    box-shadow: 0px 7px 15px rgba(25, 26, 38, 0.12)
    border-radius: 10px
    position: relative
    z-index: 1
    padding: 50px 30px 42px
    display: flex
    flex-direction: column
    &__title
        margin-bottom: 18px
    &__text
        font-size: 18px
        line-height: 100%
        color: #3C3C3C
        margin-bottom: 33px
        min-height: 36px
        &_t1
            max-width: 400px
        &_t2
            max-width: 452px
        &_t3
        &_t4
            max-width: 390px
    &__list
        display: flex
        justify-content: space-between
        margin-top: auto
        .card-bulletin-board-btn
            margin-right: 20px
            flex: 1
            max-width: none
            width: auto
            &:last-child
                margin-right: 0

.card-bulletin-board-btn
    max-width: 170px
    width: 100%
    height: 150px
    position: relative
    z-index: 1
    border-radius: 10px
    background: transparent
    background-image: linear-gradient(91.23deg, #9AB0FF 24.8%, #98A2FF 96.43%)
    background-repeat: no-repeat
    background-position: left bottom
    background-size: 100% 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    color: #FFFFFF
    &:before
        content: ""
        position: absolute
        z-index: -1
        top: 0
        left: 0
        right: 0
        bottom: 0
        padding: 1px
        border-radius: inherit
        background: linear-gradient(91.23deg, #9AB0FF 24.8%, #98A2FF 96.43%)
        mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
        mask-composite: exclude
    &:hover
        color: #2D2C2C
        background-size: 0% 0%
        .card-bulletin-board-btn__icon
            fill: url(#svg_gradient)
    &__icon
        fill: #fff
        transition: .2s
        display: block
    &__img
        height: 64px
        width: 64px
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 15px
        svg
            max-width: 100%
            max-height: 100%
    &__text
        font-weight: bold
        font-size: 18px
        line-height: 100%
        min-height: 36px
        display: flex
        align-items: center
        text-align: center

@media only screen and (max-width : 1199px)
    .bulletin-board
        margin-top: 50px

@media only screen and (max-width : 991px)
    .bulletin-board
        margin-top: 40px

    .card-bulletin-board
        padding: 21px 14px 26px
        &__title
            margin-bottom: 8px
        &__text
            font-size: 16px
            margin-bottom: 16px
        &__list
            .card-bulletin-board-btn
                margin-right: 10px

    .card-bulletin-board-btn
        max-width: 90px
        height: 88px
        &__img
            width: 40px
            height: 40px
            margin-bottom: 5px
        &__text
            font-size: 14px
            min-height: 28px

@media only screen and (max-width : 767px)
    .bulletin-board-grid
        grid-template-columns: auto
        grid-template-rows: auto auto auto auto
